<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248527435816-4s0enl29etpuamjv1m8s7aqklsoj7nmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248527435816-4s0enl29etpuamjv1m8s7aqklsoj7nmb</string>
	<key>API_KEY</key>
	<string>AIzaSyCf923dUjOj7yHoREPgMvxFZ_-HpryMFSk</string>
	<key>GCM_SENDER_ID</key>
	<string>248527435816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.com.jorge.applojavirtual</string>
	<key>PROJECT_ID</key>
	<string>applojavirtual-d012c</string>
	<key>STORAGE_BUCKET</key>
	<string>applojavirtual-d012c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248527435816:ios:ae2fe7985bc6ab64a9dd1d</string>
	<key>DATABASE_URL</key>
	<string>https://applojavirtual-d012c.firebaseio.com</string>
</dict>
</plist>